<footer class="container mt-5">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>Memories © <%= Time.current.year %> ·
    <%= link_to 'About', about_path, :class => 'p-2' %> ·
    <%= link_to 'Terms', terms_path, :class => 'p-2' %> ·

    <% if current_user %>
      <%= link_to 'Your Account', users_path, :class => 'p-2' %>
    <% else %>
      <%= link_to "Sign up", signup_path, :class => '' %> ·
      <%= link_to "Log in", login_path, :class => '' %>
    <% end %>
  </p>
</footer>